@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Almendra Display', sans-serif;
    color: aliceblue;
    background-color: black;
}

#main {
    background: url(../images/bild.webp);
    background-size: cover;
    height: 978px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 8px rgb(255, 255, 255),
    0 0 11px rgb(9, 136, 175),
    0 0 22px rgb(0, 162, 255), 
    0 0 40px rgb(212, 205, 205), 
    0 0 78px rgb(44, 93, 228), 
    0 0 90px rgb(231, 222, 235),
    0 0 107px rgb(147, 56, 223),  
    0 0 159px rgb(255, 255, 255); 
   
}

.game-title {
    font-size: 110px;
    text-align: center;
    padding-top: 20px;
   
}


.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 455px;
    background-color: rgba(0, 0, 0, 0.788);
    margin: 50px auto;
    border: 4px solid rgb(90, 6, 247);
    border-radius: 3%;
    opacity: 0.9;
    /* background: radial-gradient(circle, rgb(27, 27, 27), rgb(0, 0, 0),rgb(10, 10, 10), purple); */
  
}


.square {
    font-size: 90px;
    font-weight: bold;
    font-family: 'Almendra Display', sans-serif;
    width: 150px;
    height: 150px;
    border: 1px solid rgb(106, 0, 228);
    cursor: pointer;
    line-height: 150px;
    color: rgb(248, 10, 10);
    text-shadow:
    0 0 8px rgb(187, 230, 0),
    0 0 11px rgb(18, 136, 172),
    0 0 22px rgb(219, 27, 27), 
    0 0 40px rgb(233, 7, 7), 
    0 0 78px rgb(16, 54, 158), 
    0 0 90px rgb(155, 4, 224),
    0 0 107px rgb(147, 56, 223),  
    0 0 159px rgb(221, 13, 248); 
    border-radius: 3%;
    
}

#uppdateText {
   text-align: center;
   font-size: 70px;
   bottom: 50px;
}



#restartButton {
   font-family: 'Almendra Display', sans-serif;
   font-size: 25px;
   bottom: 120px;
   padding: 20px;
   font-weight: bold;
   background-color: black;
   color: rgb(224, 218, 218);
   text-shadow:
   0 0 8px rgb(255, 255, 255),
   0 0 11px rgb(9, 182, 235),
   0 0 22px rgb(165, 27, 219), 
   0 0 40px rgb(150, 7, 233), 
   0 0 78px rgb(44, 93, 228), 
   0 0 90px rgb(174, 18, 247),
   0 0 107px rgb(147, 56, 223),  
   0 0 159px rgb(221, 13, 248); 
   border: 3px solid rgb(255, 0, 0);
   border-radius: 5%;
   
}


#restartButton:hover {
    color: rgb(248, 10, 10);
    text-shadow:
    0 0 8px rgb(187, 230, 0),
    0 0 11px rgb(206, 252, 0),
    0 0 22px rgb(70, 14, 223), 
    0 0 40px rgb(233, 7, 7), 
    0 0 78px rgb(16, 54, 158), 
    0 0 90px rgb(155, 4, 224),
    0 0 107px rgb(147, 56, 223),  
    0 0 159px rgb(81, 0, 233);  
    border: 3px solid rgb(72, 3, 202); 
}



/* media queries */
/* screens smaller than 720px */
@media screen and (max-width: 720px ){
    #main {
        height: 1040px;
    }

}


/* screens smaller than 500px */
@media screen and (max-width: 500px ){
    .game-title{
        font-size: 80px;
    }

    .square{
    width: 130px;
    height: 130px;
    font-size: 70px;
    line-height: 130px;
    }

    .game-container {
        width: 395px;
    }
}


/* screens smaller than 430 px */
@media screen and (max-width: 430px ){
    .game-title{
        font-size: 70px;
    }

    .square{
    width: 115px;
    height: 115px;
    font-size: 55px;
    line-height: 115px;
    }

    .game-container {
        width: 350px;
    }

}

/* screens smaller than 380px */
@media screen and (max-width: 380px ){
    .game-title{
        font-size: 60px;
    }

    .square{
    width: 90px;
    height: 90px;
    font-size: 45px;
    line-height: 90px;
    }

    .game-container {
        width: 273px;
    }
}

/*screens smaller than 300px */
@media screen and (max-width: 300px ){
    .game-title{
        font-size: 60px;
    }

    .square{
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    }

    .game-container {
        width: 242px;
    }
}